@page "/prodAdd"
@using CerrojoApp.Components.Components
@using CerrojoApp.Components.Utils

<TabControl>
  <TabPage Text="Producto">
    <div class="border rounded p-5  ">
        <ProductForm></ProductForm>
    </div>
  </TabPage>
  <TabPage Text="Marca">
    <div class="border rounded p-5 ">
        <MarcaForm></MarcaForm>
    </div>
  </TabPage>
  <TabPage Text="Proveedor">
    <div class="border rounded p-5 ">
        <ProveeForm></ProveeForm>
    </div>
  </TabPage>
</TabControl>